## API
.metadata
.debris
.metadata
api/HELP.md
api/target/
api/!.mvn/wrapper/maven-wrapper.jar
api/!**/src/main/**/target/
api/!**/src/test/**/target/
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache
api/.idea
api/*.iws
api/*.iml
api/*.ipr
api/nbproject/private/
api/nbbuild/
api/dist/
api/nbdist/
api/.nb-gradle/
api/build/
api/!**/src/main/**/build/
api/!**/src/test/**/build/
api/.vscode/
